{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset( 'assets/css/dittto-dashboard.css') }}" />
{% endblock %}

{% block body %}
    <h1 class="page-header-1">Recognition</h1>
    <p>
        React - Recognition Component Here....
    </p>
{% endblock %}

{% block javascripts %}    
{% endblock %}