{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset( 'assets/css/dittto-forgot-password.css') }}" />
{% endblock %}

{% block body %}

<div class="container forgot-password-page">

    <div class="forgot-password-title-container">
        <div class="forgot-password-title">Can't Log in?</div>
        <div>We'll send you a recovery link</div>
    </div>

    <form name="resetPassword" method="post">
        <div class="forgot-password-form-wrapper">
            {{ form_widget(form.identifier) }}
            {{ form_widget(form.save) }}
        </div>
        {{ form_widget(form._token) }}
    </form>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}
