{% extends 'base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset( 'assets/css/dittto-forgot-password.css') }}" />
{% endblock %}

{% block body %}

<div class="container forgot-password-page">

    <div class="forgot-password-title-container">
        {{ message }}
    </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript">
</script>
{% endblock %}
